@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'STIX Two Text', sans-serif;
}
body {
    display: flex;
    background-color:#576493;
    overflow: auto;
}
.sidebar{
    position: absolute;
    top: 60px;
    left: 60px;
    width: 250px;
    height: 100vh;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
.main {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main li {
    margin: 20px 0;
}
.main a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline */
    color: black; /* Change text color */
    font-size: 18px; /* Adjust font size */
    font-weight: 500; /* Adjust font weight */
    padding: 10px;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}
.main a:hover {
    background: #f2f2f2; /* Change background color on hover */
    color: #e48b26;
}
.main svg {
    margin-right: 10px;
    fill: #e48b26; /* Change icon color */
}
.budget-overview {
    background: #ffffff;
    position: absolute;
    top: 60px;
    left: 350px;
    height: 55vh;
    width: 800px;
    color: black;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.budget-details {
    font-weight: 500;
}
.add-budget {
    position: absolute;
    top: 495px;
    left: 350px;
    width: 800px;
    height: 130px;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.add-budget h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.budget-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 120px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0 10px;
}

.budget-wrapper .dollar-sign {
    font-size: 14px;
    margin-right: 5px;
}
.budget-wrapper input {
    border: none;
    outline: none;
    padding: 1em;
    font-size: 13px;
    width: 100%;
    background: transparent;
}
.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-wrapper button {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font-weight: 200;
    cursor: pointer;
}

.input-wrapper button:hover {
    border-color: #e48b26;
    color: #e48b26;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
}

#budgetChart {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

.budget-summary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.budget-details {
    flex: 1;
}

@media (max-width: 700px) {
  .budget-summary-flex {
    flex-direction: column;
    align-items: center;
  }
  .chart-container {
    justify-content: center;
    margin-top: 20px;
  }
}